@import "null.scss";
@import "colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body{
  background: #F7F7F7;;
}
.App {
  border: 2px solid black;
  padding: 2rem 126px 60px 122px;
  margin: 10px; 
}
